<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VORATTE STRATEGIC SOURCING 🖥️</title>
</head>
<body>
    <section></section>
    <h1>🖥️ Único curso de Strategic Sourcing reconhecido pelo MEC</h1>
    <section></section>
    <h1>📈 25 anos de experiência em Compras</h1>
    <section></section>
    <h1>🚀 + de 1500 profissionais treinados</h1>
    <section></section>
    <h2>por Renato Honorato</h2>
</body>
</html>